<template lang="pug">
main#create
  .container.text-center
    .row
      .col-12
        h1 Create new draft
        p Currently there's no way to select a map in custom lobbies.

    form.text-left.create__row
      .row.justify-content-center
        .col-4
          label(for="input-max-perk-count") Survivor Team Name
          input#input-survivor-team-name(
            type="text",
            name="input-survivor-team-name",
            v-model="survivorTeamName"
          )

        .col-4
          label(for="input-max-perk-count") Killer Team Name
          input#input-killer-team-name(
            type="text",
            name="input-killer-team-name",
            v-model="killerTeamName"
          )

      .row.justify-content-center
        .col-4
          label(for="input-max-perk-count") Max Perk Count
          input#input-max-perk-count(
            type="number",
            name="input-max-perk-count",
            min="1",
            max="4",
            v-model="maxPerkCount"
          )
        .col-4

    .row.create__row
      .col-12
        button(v-on:click="toggleSurvivorPerksOpen = !toggleSurvivorPerksOpen")
          h3 Toggle Survivor Perks&nbsp;
            span(v-if="toggleSurvivorPerksOpen") -
            span(v-if="!toggleSurvivorPerksOpen") +
      .col-12(v-if="toggleSurvivorPerksOpen")
        ul.perks-list
          li.perk(
            v-for="(perk, ind) in data.survivorPerks",
            :key="ind",
            v-on:click="togglePerk(perk.perk_tag)",
            :class="{ 'perk--disabled': disabledPerks.indexOf(perk.perk_tag) !== -1 }"
          )
            p.perk__name {{ perk.perk_name }}
            img.perk__icon(:src="perk.icon")

    .row.create__row
      .col-12
        button(v-on:click="toggleKillerPerksOpen = !toggleKillerPerksOpen")
          h3 Toggle Killer Perks&nbsp;
            span(v-if="toggleKillerPerksOpen") -
            span(v-if="!toggleKillerPerksOpen") +

      .col-12(v-if="toggleKillerPerksOpen")
        ul.perks-list
          li.perk(
            v-for="(perk, ind) in data.killerPerks",
            :key="ind",
            v-on:click="togglePerk(perk.perk_tag)",
            :class="{ 'perk--disabled': disabledPerks.indexOf(perk.perk_tag) !== -1 }"
          )
            p.perk__name {{ perk.perk_name }}
            img.perk__icon(:src="perk.icon")

    .row.create__row
      .col-12
        h2 Disabled Perks

      .col-12(v-if="disabledPerksObj.length > 0")
        ul.perks-list
          li.perk(v-for="(perk, ind) in disabledPerksObj", :key="ind")
            p.perk__name {{ perk.perk_name }}
            img.perk__icon(:src="perk.icon")

      .col-12(v-if="disabledPerksObj.length <= 0")
        p No perks are disabled

    .row.create__row
      .col-12.text-center
        button(v-on:click="createLobby") Create Lobby
</template>


<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import perks from "../assets/data/perks";
import axios from "axios";

// import survivors from "../assets/data/survivors";
// import killers from "../assets/data/killers";

/**
 * Function to sort alphabetically an array of objects by some specific key.
 *
 * @param {String} property Key of the object to sort.
 */
function dynamicSort(property: any) {
  let sortOrder = 1;

  if (property[0] === "-") {
    sortOrder = -1;
    property = property.substr(1);
  }

  return function (a: any, b: any) {
    if (sortOrder == -1) {
      return b[property].localeCompare(a[property]);
    } else {
      return a[property].localeCompare(b[property]);
    }
  };
}

@Component({
  components: {},
})
export default class Create extends Vue {
  data = {};

  disabledPerks: string[] = [];
  disabledPerksObj: any[] = [];

  toggleSurvivorPerksOpen = false;
  toggleKillerPerksOpen = false;

  survivorTeamName = "";
  killerTeamName = "";

  maxPerkCount = 4;

  mounted() {
    console.log("[ Create ] Mounted");

    this.data = {
      killerPerks: perks
        .filter((perk) => perk.role === "Killer")
        .sort(dynamicSort("perk_tag")),
      survivorPerks: perks
        .filter((perk) => perk.role === "Survivor")
        .sort(dynamicSort("perk_tag")),
    };

    console.log(this.data);

  }

  togglePerk(perkTag: string) {
    const perkIndex = this.disabledPerks.indexOf(perkTag);
    if (perkIndex === -1) {
      this.disabledPerks.push(perkTag);
      this.disabledPerksObj.push(
        perks.filter((perk) => perk.perk_tag === perkTag)[0]
      );
    } else {
      this.disabledPerks.splice(perkIndex, 1);
      this.disabledPerksObj.splice(perkIndex, 1);
    }
  }

  createLobby() {
    axios
      .post("//localhost:8081/post-test", {
        survivors: this.survivorTeamName,
        killer: this.killerTeamName,
        disabledPerks: this.disabledPerks,
        perkCount: this.maxPerkCount,
      })
      .then(function (res) {
        console.log(res);
      })
      .catch(function (err) {
        console.log(err);
      });
  }
}
</script>

<style lang="scss">
#create {
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  .create__row {
    margin-top: 1.5rem;
  }

  .perks-list {
    margin: 1rem 0 0 0;
    padding: 0;
    list-style: none;

    .perk {
      padding: 0.5rem;
      width: (100% / 9);
      display: inline-block;

      &--disabled {
        opacity: 0.2;
      }

      .perk__name {
        font-size: 0.75rem;
      }

      .perk__icon {
        width: 100%;
      }
    }
  }
}
</style>