<template lang="pug">

  //- <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>

  main#home
    .container.text-center

      .row
        .col-12
          h1 Dead by Daylight Drafter
          p Free drafting tool for Dead by Daylight


      .row
        .col-12
          router-link(
            :to="{ name: 'create' }"
            id="btn-create-draft"
          ) Create New Draft

      .row
        .col-12
          small I'm not affiliated to "Dead by Daylight" or "Behaviour Interactive" in anyway. It's a free tool inspired by "Best of the Best" and "Japan Championship"
          small Special thanks to #[a(href="https://github.com/dearvoodoo") VooDoo] for his open source API calls for killer and survivor API's, saved me tons of time

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue';

@Component({
  components: {},
})
export default class Home extends Vue {

  mounted() {
    console.log("[ Home ] Mounted")
  }

}
</script>

<style lang="scss">

  #home {
    padding-top: 2em;
    padding-bottom: 2em;

    #btn-create-draft {
      display: inline-block;
      font-size: 1rem;
      padding: 1rem;
      border: #fff 1px solid;
      color: #fff;
      margin-top: 5rem;
    }

    small {
      &:first-child {
        margin-top: 6rem;
      }
    }
  }

</style>