<template lang="pug">
#app
  //- #nav
  //-   router-link(:to="{ name: 'home' }") Home
  //-   router-link(:to="{ name: 'lobby' }") Lobby

  router-view
</template>

<style lang="scss">
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Include custom variable default overrides here

// Optional
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/grid";

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #1f2020;
  color: #fff;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 3rem;

  &:first-child {
    margin-top: 0;
  }
}

h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}

button {
  display: inline-block;
  padding: 0.5rem;
  border: #333 1px solid;
  color: #333;
  margin-top: 0.5rem;
}

small {
  display: block;
  color: #666;
  font-size: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }

  + small {
    margin-top: 0;
  }
}

label {
  display: block;
  width: 100%;
  margin: .75rem 0 0 0;

  + input {
    display: block;
    width: 100%;
  }
}
</style>
